/* Styles de base */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 20px;
}

#app {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 100%;
    max-width: 400px;
}

/* Éléments de formulaire */
input[type="text"],
input[type="date"],
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

/* Boutons */
button {
    width: 100%;
    padding: 10px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 15px;
}

button:hover {
    background-color: #45a049;
}

/* Liste des tâches */
ul {
    list-style-type: none;
    padding: 0;
}

/* Éléments de liste */
li {
    background-color: #f9f9f9;
    border: 1px solid #e1e1e1;
    border-radius: 4px;
    padding: 15px;
    margin-bottom: 10px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap; /* Wrap items for smaller screens */
    gap: 10px; /* Add gap for visual separation */
}

/* Titre de la tâche */
.task-title {
    font-size: 1.25em; /* 20px if base font size is 16px */
    font-weight: bold;
    color: #333; /* Darker color for title */
    flex: 1 100%; /* Make title take full width on wrap */
}

/* Description de la tâche */
.task-description {
    font-size: 1em; /* Keep description at a standard size */
    color: #888; /* Lighter color for description */
    flex: 1 100%; /* Make description take full width on wrap */
}

/* Selectors and buttons */
select,
.delete-button {
    cursor: pointer;
}

/* Surbrillance des éléments interactifs */
button:hover, select:hover {
    border-color: #999;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

/* Styles pour tâche complétée */
.completed .task-title {
    text-decoration: line-through; /* Strikethrough style for completed tasks */
    color: #888; /* Grayed out color */
}

/* Bouton de suppression */
.delete-button {
    background-color: #d9534f;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    margin-left: 10px;
}

.delete-button:hover {
    background-color: #c9302c;
}

/* Responsive design */
@media (max-width: 600px) {
    #app {
        width: 90%;
        margin: 20px;
    }

    button, input[type="text"], input[type="date"], select {
        font-size: 14px;
    }
}
